nav#top-nav {
	background-color: white;
	border: 0;
}
nav#top-nav > div.container-fluid {
	min-height: 80px;
    background-color: maroon;
    color:white;
    border-radius: 10px;
    padding-top: 13px;
}

nav#footer {
	background-color: white;
	border: 0;
}
nav#footer> div.container-fluid {
    background-color: maroon;
    color:white;
    border-radius: 10px;
}

a.facebook-icon{
	padding: 0;
	margin-right: 10px;
}

img.nav-logo {
	height: 100px;
}


#navbar > ul > li > a {
    color:white;
    font-size: large;
}

#navbar > ul > li.active > a {
    color:#000;
    font-size: large;
	background-color: maroon;
}

.img-rounded {
	max-height: 50px;
	max-width: 80px;

	min-height: 20px;
	min-width: 32px;
}

.img-adjust-lg-brand{
	height: 50px;
	width: 80px;
}
      